In [91]:
import pandas as pd
import numpy as np

df = pd.read_csv('scaled.csv')

def categorize_revenue(revenue):
    if 'Less than $1 million' in revenue:
        return 1
    elif 'million' in revenue and 'billion' not in revenue and 'Less than $1 million' not in revenue and '$10+ billion' not in revenue:
        return 2
    elif 'million' in revenue and 'billion' in revenue and 'Less than $1 million' not in revenue and '$10+ billion' not in revenue:
        return 3
    elif 'billion' in revenue and 'million' not in revenue and 'Less than $1 million' not in revenue and '$10+ billion' not in revenue:
        return 4
    elif '$10+ billion' in revenue:
        return 5
    else:
        return -9999

# Apply the categorization function to create a new column 'Revenue_Category'
df['Revenue_Category'] = df['Revenue'].apply(categorize_revenue)

In [92]:
#Drop unnamed column that contains row indices
df = df.drop(df.columns[0], axis=1)

In [93]:
from sklearn.impute import KNNImputer

# Identify numerical columns with 'int', 'float', or containing pd.NA values
numerical_columns = df.select_dtypes(include=['int', 'float']).columns.tolist()

# Initialize KNNImputer
imputer = KNNImputer(missing_values=-9999,n_neighbors=10)

# Identify rows where Revenue_Category is 0 or pd.NA
rows_for_imputation = df['Revenue_Category'].isna() | (df['Revenue_Category'] == -9999)

# Perform KNN imputation on NaN values for numerical columns where Revenue_Category is 0 or pd.NA
imputed_values = imputer.fit_transform(df[numerical_columns])

# Copy DataFrame and replace imputed values
df_imputed = df.copy()
df_imputed[numerical_columns] = imputed_values

In [94]:
categorical_columns = df.select_dtypes(include=['object', 'category']).columns.tolist()

distinct_values_counts = {}
for column in categorical_columns:
    distinct_values_counts[column] = df[column].nunique()

print("Number of distinct values in categorical columns:")
for column, count in distinct_values_counts.items():
    print(f"'{column}': {count}")

Number of distinct values in categorical columns:
'Job Title': 264
'Salary Estimate': 416
'Job Description': 463
'Company Name': 343
'Location': 200
'Headquarters': 198
'Size': 9
'Type of ownership': 11
'Industry': 60
'Sector': 25
'Revenue': 14
'Competitors': 128
'company_txt': 343
'job_state': 37
'job_simp': 6
'seniority': 3

In [95]:
import re

df = df_imputed
# Function to extract the maximum number from the text
def extract_max_number(text):
    numbers = re.findall(r'\d+', text)  # Find all numbers in the text
    if numbers:
        return max(map(int, numbers))  # Convert to integers and return the maximum
    return None  # Return None if no numbers found

df['Size'] = df['Size'].apply(lambda x: extract_max_number(x))
df['Size'] = np.log(df['Size'])

In [96]:
df['Size'] = df['Size'].fillna(-9999)
numerical_columns = df.select_dtypes(include=['int', 'float']).columns.tolist()
# Identify rows where Size is 0 or pd.NA
rows_for_imputation = df['Size'].isna() | (df['Size'] == -9999)
imputer = KNNImputer(missing_values=-9999,n_neighbors=10)
# Perform KNN imputation on NaN values for numerical columns where Revenue_Category is 0 or pd.NA
imputed_values = imputer.fit_transform(df[numerical_columns])

# Copy DataFrame and replace imputed values
df[numerical_columns] = imputed_values

In [97]:
populations = pd.read_excel('SUB-IP-EST2022-POP.xlsx')
# Rename the third column to "Population"
populations.rename(columns={populations.columns[4]: 'Population'}, inplace=True)
populations.rename(columns={populations.columns[0]: 'City'}, inplace=True)
populations['City'] = populations['City'].str.replace(r'\s(city|town)', '', regex=True)
# Display the DataFrame to verify the changes
print(populations.head())

                                                City  \
0  Annual Estimates of the Resident Population fo...
1                                    Geographic Area
2                                                NaN
3                                 Abbeville, Alabama
4                                Adamsville, Alabama

                      Unnamed: 1                          Unnamed: 2  \
0                            NaN                                 NaN
1  April 1, 2020\nEstimates Base  Population Estimate (as of July 1)
2                            NaN                                2020
3                           2355                                2356
4                           4372                                4360

   Unnamed: 3  Population
0         NaN         NaN
1         NaN         NaN
2      2021.0      2022.0
3      2361.0      2366.0
4      4292.0      4224.0

In [99]:
from geopy.geocoders import Photon

# Initialize Nominatim geocoder
geolocator = Photon(user_agent="geoapiExercises")

# Create empty lists to store latitude, longitude, and population data
latitudes, longitudes, hq_latitudes, hq_longitudes = [], [], [], []

# Loop through each city in the 'Location' column
for city_state in df['Location']:
    # Get location details
    location = geolocator.geocode(city_state)

    if location:
        latitudes.append(location.latitude)
        longitudes.append(location.longitude)
    else:
        latitudes.append(None)
        longitudes.append(None)
        
# Loop through each city in the 'Headquarters' column
for city_state in df['Headquarters']:
    # Get location details
    location = geolocator.geocode(city_state)

    if location:
        hq_latitudes.append(location.latitude)
        hq_longitudes.append(location.longitude)
    else:
        hq_latitudes.append(None)
        hq_longitudes.append(None)

# Add new columns to the DataFrame
df['Latitude'] = latitudes
df['Longitude'] = longitudes
df['HQ_Latitude'] = hq_latitudes
df['HQ_Longitude'] = hq_longitudes

print(df)

     Unnamed: 0                                          Job Title  \
0           0.0                                     Data Scientist
1           1.0                          Healthcare Data Scientist
2           2.0                                     Data Scientist
3           3.0                                     Data Scientist
4           4.0                                     Data Scientist
..          ...                                                ...
737       737.0           Sr Scientist, Immuno-Oncology - Oncology
738       738.0                               Senior Data Engineer
739       739.0  Project Scientist - Auton Lab, Robotics Institute
740       740.0                               Data Science Manager
741       741.0          Research Scientist – Security and Privacy

                 Salary Estimate  \
0     $53K-$91K (Glassdoor est.)
1    $63K-$112K (Glassdoor est.)
2     $80K-$90K (Glassdoor est.)
3     $56K-$97K (Glassdoor est.)
4    $86K-$143K (Glassdoor est.)
..                           ...
737  $58K-$111K (Glassdoor est.)
738  $72K-$133K (Glassdoor est.)
739   $56K-$91K (Glassdoor est.)
740  $95K-$160K (Glassdoor est.)
741  $61K-$126K (Glassdoor est.)

                                       Job Description  Rating  \
0    Data Scientist\nLocation: Albuquerque, NM\nEdu...     3.8
1    What You Will Do:\n\nI. General Summary\n\nThe...     3.4
2    KnowBe4, Inc. is a high growth information sec...     4.8
3    *Organization and Job ID**\nJob ID: 310709\n\n...     3.8
4    Data Scientist\nAffinity Solutions / Marketing...     2.9
..                                                 ...     ...
737  Site Name: USA - Massachusetts - Cambridge\nPo...     3.9
738  THE CHALLENGE\nEventbrite has a world-class da...     4.4
739  The Auton Lab at Carnegie Mellon University is...     2.6
740  Data Science ManagerResponsibilities:\n\nOvers...     3.2
741  Returning Candidate? Log back in to the Career...     3.6

                                   Company Name         Location  \
0                        Tecolote Research\n3.8  Albuquerque, NM
1    University of Maryland Medical System\n3.4    Linthicum, MD
2                                  KnowBe4\n4.8   Clearwater, FL
3                                     PNNL\n3.8     Richland, WA
4                       Affinity Solutions\n2.9     New York, NY
..                                          ...              ...
737                                    GSK\n3.9    Cambridge, MA
738                             Eventbrite\n4.4    Nashville, TN
739         Software Engineering Institute\n2.6   Pittsburgh, PA
740                           Numeric, LLC\n3.2    Allentown, PA
741           Riverside Research Institute\n3.6  Beavercreek, OH

                  Headquarters      Size   Founded  ...        job_simp  \
0                   Goleta, CA  6.907755  0.832727  ...  data scientist
1                Baltimore, MD  9.210340  0.872727  ...  data scientist
2               Clearwater, FL  6.907755  0.967273  ...  data scientist
3                 Richland, WA  8.517193  0.803636  ...  data scientist
4                 New York, NY  5.298317  0.923636  ...  data scientist
..                         ...       ...       ...  ...             ...
737  Brentford, United Kingdom  9.210340  0.312727  ...  data scientist
738          San Francisco, CA  8.517193  0.952727  ...   data engineer
739             Pittsburgh, PA  6.907755  0.872727  ...  data scientist
740            Chadds Ford, PA  3.912023  0.338745  ...         manager
741              Arlington, VA  6.907755  0.810909  ...  data scientist

    seniority  desc_len num_comp is_senior  Revenue_Category   Latitude  \
0          na  0.220759     0.00       0.0               2.0  35.083408
1          na  0.453754     0.00       0.0               4.0  38.999174
2          na  0.316674     0.00       0.0               2.0  27.965853
3          na  0.360431     0.75       0.0               3.0  46.280430
4          na  0.240668     0.75       0.0               3.0  40.729145
..        ...       ...      ...       ...               ...        ...
737    senior  0.596744     0.75       1.0               5.0  42.365577
738    senior  0.593426     0.75       1.0               2.0  36.177125
739        na  0.276960     0.00       0.0               2.8  40.491783
740        na  0.128059     0.00       0.0               2.0  40.570541
741        na  0.338656     0.00       0.0               2.0  39.709226

      Longitude  HQ_Latitude  HQ_Longitude
0   -106.647296    34.435829   -119.827639
1    -76.670478    39.305399    -76.616573
2    -82.800103    27.965853    -82.800103
3   -119.275205    46.280430   -119.275205
4    -73.995076    40.729145    -73.995076
..          ...          ...           ...
737  -71.104002    51.486396     -0.321662
738  -86.789363    37.779026   -122.419906
739  -80.237024    40.491783    -80.237024
740  -75.488541    39.880944    -75.546870
741  -84.063269    38.878538    -77.069112

[742 rows x 39 columns]

In [100]:

state_mapping = {
    'AL': 'Alabama', 'AK': 'Alaska', 'AZ': 'Arizona', 'AR': 'Arkansas', 'CA': 'California',
    'CO': 'Colorado', 'CT': 'Connecticut', 'DE': 'Delaware', 'FL': 'Florida', 'GA': 'Georgia',
    'HI': 'Hawaii', 'ID': 'Idaho', 'IL': 'Illinois', 'IN': 'Indiana', 'IA': 'Iowa',
    'KS': 'Kansas', 'KY': 'Kentucky', 'LA': 'Louisiana', 'ME': 'Maine', 'MD': 'Maryland',
    'MA': 'Massachusetts', 'MI': 'Michigan', 'MN': 'Minnesota', 'MS': 'Mississippi',
    'MO': 'Missouri', 'MT': 'Montana', 'NE': 'Nebraska', 'NV': 'Nevada', 'NH': 'New Hampshire',
    'NJ': 'New Jersey', 'NM': 'New Mexico', 'NY': 'New York', 'NC': 'North Carolina',
    'ND': 'North Dakota', 'OH': 'Ohio', 'OK': 'Oklahoma', 'OR': 'Oregon', 'PA': 'Pennsylvania',
    'RI': 'Rhode Island', 'SC': 'South Carolina', 'SD': 'South Dakota', 'TN': 'Tennessee',
    'TX': 'Texas', 'UT': 'Utah', 'VT': 'Vermont', 'VA': 'Virginia', 'WA': 'Washington',
    'WV': 'West Virginia', 'WI': 'Wisconsin', 'WY': 'Wyoming'
}



    
def map_states(location):
    match = re.match(r'^(.*), ([A-Z]{2})$', location)
    if match:
        city, state_abbr = match.groups()
        mapped_state = state_mapping.get(state_abbr, '')
        return f"{city}, {mapped_state}"
    return location

# Apply mapping function to Location and Headquarters columns
df['Location'] = df['Location'].apply(map_states)
df['Headquarters'] = df['Headquarters'].apply(map_states)

merged_data = pd.merge(df, populations, left_on='Location', right_on='City', how='left')
merged_data = pd.merge(merged_data, populations, left_on='Headquarters', right_on='City', how='left')
print(merged_data.head())

   Unnamed: 0                  Job Title              Salary Estimate  \
0         0.0             Data Scientist   $53K-$91K (Glassdoor est.)
1         1.0  Healthcare Data Scientist  $63K-$112K (Glassdoor est.)
2         2.0             Data Scientist   $80K-$90K (Glassdoor est.)
3         3.0             Data Scientist   $56K-$97K (Glassdoor est.)
4         4.0             Data Scientist  $86K-$143K (Glassdoor est.)

                                     Job Description  Rating  \
0  Data Scientist\nLocation: Albuquerque, NM\nEdu...     3.8
1  What You Will Do:\n\nI. General Summary\n\nThe...     3.4
2  KnowBe4, Inc. is a high growth information sec...     4.8
3  *Organization and Job ID**\nJob ID: 310709\n\n...     3.8
4  Data Scientist\nAffinity Solutions / Marketing...     2.9

                                 Company Name                 Location  \
0                      Tecolote Research\n3.8  Albuquerque, New Mexico
1  University of Maryland Medical System\n3.4      Linthicum, Maryland
2                                KnowBe4\n4.8      Clearwater, Florida
3                                   PNNL\n3.8     Richland, Washington
4                     Affinity Solutions\n2.9       New York, New York

           Headquarters      Size   Founded  ...                   City_x  \
0    Goleta, California  6.907755  0.832727  ...  Albuquerque, New Mexico
1   Baltimore, Maryland  9.210340  0.872727  ...                      NaN
2   Clearwater, Florida  6.907755  0.967273  ...      Clearwater, Florida
3  Richland, Washington  8.517193  0.803636  ...     Richland, Washington
4    New York, New York  5.298317  0.923636  ...       New York, New York

  Unnamed: 1_x Unnamed: 2_x Unnamed: 3_x Population_x                City_y  \
0       564581       564855     563108.0     561008.0    Goleta, California
1          NaN          NaN          NaN          NaN   Baltimore, Maryland
2       117387       117284     117093.0     117027.0   Clearwater, Florida
3        60568        60878      62115.0      62821.0  Richland, Washington
4      8804194      8740647    8459001.0    8335897.0    New York, New York

   Unnamed: 1_y  Unnamed: 2_y  Unnamed: 3_y  Population_y
0         32696         32738       32841.0       32432.0
1        585693        583139      576981.0      569931.0
2        117387        117284      117093.0      117027.0
3         60568         60878       62115.0       62821.0
4       8804194       8740647     8459001.0     8335897.0

[5 rows x 49 columns]

In [101]:


df = merged_data
df['Log_Population'] = np.log(df['Population_x'])
df['Log_HQ_Population'] = np.log(df['Population_y'])

print(df)

     Unnamed: 0                                          Job Title  \
0           0.0                                     Data Scientist
1           1.0                          Healthcare Data Scientist
2           2.0                                     Data Scientist
3           3.0                                     Data Scientist
4           4.0                                     Data Scientist
..          ...                                                ...
737       737.0           Sr Scientist, Immuno-Oncology - Oncology
738       738.0                               Senior Data Engineer
739       739.0  Project Scientist - Auton Lab, Robotics Institute
740       740.0                               Data Science Manager
741       741.0          Research Scientist – Security and Privacy

                 Salary Estimate  \
0     $53K-$91K (Glassdoor est.)
1    $63K-$112K (Glassdoor est.)
2     $80K-$90K (Glassdoor est.)
3     $56K-$97K (Glassdoor est.)
4    $86K-$143K (Glassdoor est.)
..                           ...
737  $58K-$111K (Glassdoor est.)
738  $72K-$133K (Glassdoor est.)
739   $56K-$91K (Glassdoor est.)
740  $95K-$160K (Glassdoor est.)
741  $61K-$126K (Glassdoor est.)

                                       Job Description  Rating  \
0    Data Scientist\nLocation: Albuquerque, NM\nEdu...     3.8
1    What You Will Do:\n\nI. General Summary\n\nThe...     3.4
2    KnowBe4, Inc. is a high growth information sec...     4.8
3    *Organization and Job ID**\nJob ID: 310709\n\n...     3.8
4    Data Scientist\nAffinity Solutions / Marketing...     2.9
..                                                 ...     ...
737  Site Name: USA - Massachusetts - Cambridge\nPo...     3.9
738  THE CHALLENGE\nEventbrite has a world-class da...     4.4
739  The Auton Lab at Carnegie Mellon University is...     2.6
740  Data Science ManagerResponsibilities:\n\nOvers...     3.2
741  Returning Candidate? Log back in to the Career...     3.6

                                   Company Name                  Location  \
0                        Tecolote Research\n3.8   Albuquerque, New Mexico
1    University of Maryland Medical System\n3.4       Linthicum, Maryland
2                                  KnowBe4\n4.8       Clearwater, Florida
3                                     PNNL\n3.8      Richland, Washington
4                       Affinity Solutions\n2.9        New York, New York
..                                          ...                       ...
737                                    GSK\n3.9  Cambridge, Massachusetts
738                             Eventbrite\n4.4      Nashville, Tennessee
739         Software Engineering Institute\n2.6  Pittsburgh, Pennsylvania
740                           Numeric, LLC\n3.2   Allentown, Pennsylvania
741           Riverside Research Institute\n3.6         Beavercreek, Ohio

                  Headquarters      Size   Founded  ... Unnamed: 2_x  \
0           Goleta, California  6.907755  0.832727  ...       564855
1          Baltimore, Maryland  9.210340  0.872727  ...          NaN
2          Clearwater, Florida  6.907755  0.967273  ...       117284
3         Richland, Washington  8.517193  0.803636  ...        60878
4           New York, New York  5.298317  0.923636  ...      8740647
..                         ...       ...       ...  ...          ...
737  Brentford, United Kingdom  9.210340  0.312727  ...       118349
738  San Francisco, California  8.517193  0.952727  ...          NaN
739   Pittsburgh, Pennsylvania  6.907755  0.872727  ...       302762
740  Chadds Ford, Pennsylvania  3.912023  0.338745  ...       125722
741        Arlington, Virginia  6.907755  0.810909  ...        46603

    Unnamed: 3_x Population_x                     City_y Unnamed: 1_y  \
0       563108.0     561008.0         Goleta, California        32696
1            NaN          NaN        Baltimore, Maryland       585693
2       117093.0     117027.0        Clearwater, Florida       117387
3        62115.0      62821.0       Richland, Washington        60568
4      8459001.0    8335897.0         New York, New York      8804194
..           ...          ...                        ...          ...
737     118082.0     118488.0                        NaN          NaN
738          NaN          NaN  San Francisco, California       873959
739     305441.0     302898.0   Pittsburgh, Pennsylvania       302958
740     125772.0     125094.0                        NaN          NaN
741      46753.0      46942.0                        NaN          NaN

     Unnamed: 2_y  Unnamed: 3_y  Population_y  Log_Population  \
0           32738       32841.0       32432.0       13.237490
1          583139      576981.0      569931.0             NaN
2          117284      117093.0      117027.0       11.670160
3           60878       62115.0       62821.0       11.048045
4         8740647     8459001.0     8335897.0       15.936082
..            ...           ...           ...             ...
737           NaN           NaN           NaN       11.682567
738        870393      811253.0      808437.0             NaN
739        302762      305441.0      302898.0       12.621151
740           NaN           NaN           NaN       11.736821
741           NaN           NaN           NaN       10.756668

     Log_HQ_Population
0            10.386901
1            13.253271
2            11.670160
3            11.048045
4            15.936082
..                 ...
737                NaN
738          13.602858
739          12.621151
740                NaN
741                NaN

[742 rows x 51 columns]

In [102]:
# Assuming 'df' is your DataFrame
columns_to_remove = ['Unnamed: 3_x','Unnamed: 2_x','Unnamed: 1_x', 'Population_x', 'Unnamed: 3_y','Unnamed: 2_y','Unnamed: 1_y', 'Population_y']

# Remove specified columns
df = df.drop(columns=columns_to_remove)

In [103]:
# Filling NaN values with -9999 for attitude, longitude, hq_lattitude, hq_longitude, Log_Population, and Log_HQ_Population
columns_to_fill_na = ['Latitude', 'Longitude', 'HQ_Latitude', 'HQ_Longitude', 'Log_Population', 'Log_HQ_Population']
df[columns_to_fill_na] = df[columns_to_fill_na].fillna(-9999)

# Identifying numerical columns for imputation
numerical_columns = df.select_dtypes(include=['int', 'float']).columns.tolist()

# Identifying rows for imputation
rows_for_imputation = df[columns_to_fill_na].isna().any(axis=1) | (df[columns_to_fill_na] == -9999).any(axis=1)

# Initializing KNNImputer
imputer = KNNImputer(missing_values=-9999, n_neighbors=10)

# Performing KNN imputation on NaN values for selected numerical columns
imputed_values = imputer.fit_transform(df[numerical_columns][rows_for_imputation])

# Copy DataFrame and replace imputed values
df.loc[rows_for_imputation, numerical_columns] = imputed_values

print(df)

     Unnamed: 0                                          Job Title  \
0           0.0                                     Data Scientist
1           1.0                          Healthcare Data Scientist
2           2.0                                     Data Scientist
3           3.0                                     Data Scientist
4           4.0                                     Data Scientist
..          ...                                                ...
737       737.0           Sr Scientist, Immuno-Oncology - Oncology
738       738.0                               Senior Data Engineer
739       739.0  Project Scientist - Auton Lab, Robotics Institute
740       740.0                               Data Science Manager
741       741.0          Research Scientist – Security and Privacy

                 Salary Estimate  \
0     $53K-$91K (Glassdoor est.)
1    $63K-$112K (Glassdoor est.)
2     $80K-$90K (Glassdoor est.)
3     $56K-$97K (Glassdoor est.)
4    $86K-$143K (Glassdoor est.)
..                           ...
737  $58K-$111K (Glassdoor est.)
738  $72K-$133K (Glassdoor est.)
739   $56K-$91K (Glassdoor est.)
740  $95K-$160K (Glassdoor est.)
741  $61K-$126K (Glassdoor est.)

                                       Job Description  Rating  \
0    Data Scientist\nLocation: Albuquerque, NM\nEdu...     3.8
1    What You Will Do:\n\nI. General Summary\n\nThe...     3.4
2    KnowBe4, Inc. is a high growth information sec...     4.8
3    *Organization and Job ID**\nJob ID: 310709\n\n...     3.8
4    Data Scientist\nAffinity Solutions / Marketing...     2.9
..                                                 ...     ...
737  Site Name: USA - Massachusetts - Cambridge\nPo...     3.9
738  THE CHALLENGE\nEventbrite has a world-class da...     4.4
739  The Auton Lab at Carnegie Mellon University is...     2.6
740  Data Science ManagerResponsibilities:\n\nOvers...     3.2
741  Returning Candidate? Log back in to the Career...     3.6

                                   Company Name                  Location  \
0                        Tecolote Research\n3.8   Albuquerque, New Mexico
1    University of Maryland Medical System\n3.4       Linthicum, Maryland
2                                  KnowBe4\n4.8       Clearwater, Florida
3                                     PNNL\n3.8      Richland, Washington
4                       Affinity Solutions\n2.9        New York, New York
..                                          ...                       ...
737                                    GSK\n3.9  Cambridge, Massachusetts
738                             Eventbrite\n4.4      Nashville, Tennessee
739         Software Engineering Institute\n2.6  Pittsburgh, Pennsylvania
740                           Numeric, LLC\n3.2   Allentown, Pennsylvania
741           Riverside Research Institute\n3.6         Beavercreek, Ohio

                  Headquarters      Size   Founded  ... is_senior  \
0           Goleta, California  6.907755  0.832727  ...       0.0
1          Baltimore, Maryland  9.210340  0.872727  ...       0.0
2          Clearwater, Florida  6.907755  0.967273  ...       0.0
3         Richland, Washington  8.517193  0.803636  ...       0.0
4           New York, New York  5.298317  0.923636  ...       0.0
..                         ...       ...       ...  ...       ...
737  Brentford, United Kingdom  9.210340  0.312727  ...       1.0
738  San Francisco, California  8.517193  0.952727  ...       1.0
739   Pittsburgh, Pennsylvania  6.907755  0.872727  ...       0.0
740  Chadds Ford, Pennsylvania  3.912023  0.338745  ...       0.0
741        Arlington, Virginia  6.907755  0.810909  ...       0.0

    Revenue_Category   Latitude   Longitude HQ_Latitude  HQ_Longitude  \
0                2.0  35.083408 -106.647296   34.435829   -119.827639
1                4.0  38.999174  -76.670478   39.305399    -76.616573
2                2.0  27.965853  -82.800103   27.965853    -82.800103
3                3.0  46.280430 -119.275205   46.280430   -119.275205
4                3.0  40.729145  -73.995076   40.729145    -73.995076
..               ...        ...         ...         ...           ...
737              5.0  42.365577  -71.104002   51.486396     -0.321662
738              2.0  36.177125  -86.789363   37.779026   -122.419906
739              2.8  40.491783  -80.237024   40.491783    -80.237024
740              2.0  40.570541  -75.488541   39.880944    -75.546870
741              2.0  39.709226  -84.063269   38.878538    -77.069112

                       City_x                     City_y  Log_Population  \
0     Albuquerque, New Mexico         Goleta, California       13.237490
1                         NaN        Baltimore, Maryland       11.962456
2         Clearwater, Florida        Clearwater, Florida       11.670160
3        Richland, Washington       Richland, Washington       11.048045
4          New York, New York         New York, New York       15.936082
..                        ...                        ...             ...
737  Cambridge, Massachusetts                        NaN       11.682567
738                       NaN  San Francisco, California       12.554512
739  Pittsburgh, Pennsylvania   Pittsburgh, Pennsylvania       12.621151
740   Allentown, Pennsylvania                        NaN       11.736821
741         Beavercreek, Ohio                        NaN       10.756668

     Log_HQ_Population
0            10.386901
1            13.253271
2            11.670160
3            11.048045
4            15.936082
..                 ...
737          12.605294
738          13.602858
739          12.621151
740          12.605294
741          12.605294

[742 rows x 43 columns]

In [104]:
# Assuming 'df' is your DataFrame
columns_to_keep = [
    'Rating', 'Size', 'hourly', 'employer_provided', 'avg_salary', 'same_state', 'age',
    'python_yn', 'R_yn', 'spark', 'aws', 'excel', 'desc_len', 'num_comp', 'is_senior',
    'Revenue_Category', 'Latitude', 'Longitude', 'HQ_Latitude', 'HQ_Longitude',
    'Log_Population', 'Log_HQ_Population', 'Sector', 'Type of ownership', 'job_simp'
]

# Filter columns to keep
df = df.filter(columns_to_keep)
print(df)

     Rating      Size  hourly  employer_provided  avg_salary  same_state  \
0       3.8  6.907755     0.0                0.0    0.243243         0.0
1       3.4  9.210340     0.0                0.0    0.307692         0.0
2       4.8  6.907755     0.0                0.0    0.297297         1.0
3       3.8  8.517193     0.0                0.0    0.261954         1.0
4       2.9  5.298317     0.0                0.0    0.419958         1.0
..      ...       ...     ...                ...         ...         ...
737     3.9  9.210340     0.0                0.0    0.295218         0.0
738     4.4  8.517193     0.0                0.0    0.370062         0.0
739     2.6  6.907755     0.0                0.0    0.249480         1.0
740     3.2  3.912023     0.0                0.0    0.474012         0.0
741     3.6  6.907755     0.0                0.0    0.332640         0.0

          age  python_yn  R_yn  spark  ...  Revenue_Category   Latitude  \
0    0.173285        1.0   0.0    0.0  ...               2.0  35.083408
1    0.133574        1.0   0.0    0.0  ...               4.0  38.999174
2    0.039711        1.0   0.0    1.0  ...               2.0  27.965853
3    0.202166        1.0   0.0    0.0  ...               3.0  46.280430
4    0.083032        1.0   0.0    0.0  ...               3.0  40.729145
..        ...        ...   ...    ...  ...               ...        ...
737  0.689531        0.0   0.0    0.0  ...               5.0  42.365577
738  0.054152        1.0   0.0    1.0  ...               2.0  36.177125
739  0.133574        0.0   0.0    0.0  ...               2.8  40.491783
740  0.000000        0.0   0.0    0.0  ...               2.0  40.570541
741  0.194946        1.0   0.0    0.0  ...               2.0  39.709226

      Longitude  HQ_Latitude  HQ_Longitude  Log_Population  Log_HQ_Population  \
0   -106.647296    34.435829   -119.827639       13.237490          10.386901
1    -76.670478    39.305399    -76.616573       11.962456          13.253271
2    -82.800103    27.965853    -82.800103       11.670160          11.670160
3   -119.275205    46.280430   -119.275205       11.048045          11.048045
4    -73.995076    40.729145    -73.995076       15.936082          15.936082
..          ...          ...           ...             ...                ...
737  -71.104002    51.486396     -0.321662       11.682567          12.605294
738  -86.789363    37.779026   -122.419906       12.554512          13.602858
739  -80.237024    40.491783    -80.237024       12.621151          12.621151
740  -75.488541    39.880944    -75.546870       11.736821          12.605294
741  -84.063269    38.878538    -77.069112       10.756668          12.605294

                           Sector       Type of ownership        job_simp
0             Aerospace & Defense       Company - Private  data scientist
1                     Health Care      Other Organization  data scientist
2               Business Services       Company - Private  data scientist
3    Oil, Gas, Energy & Utilities              Government  data scientist
4               Business Services       Company - Private  data scientist
..                            ...                     ...             ...
737     Biotech & Pharmaceuticals        Company - Public  data scientist
738        Information Technology        Company - Public   data engineer
739                     Education    College / University  data scientist
740             Business Services       Company - Private         manager
741                    Government  Nonprofit Organization  data scientist

[742 rows x 25 columns]

In [105]:
# Assuming 'df' is your dataframe containing the columns 'job_simp', 'Sector', and 'Type of ownership'

# Get dummy variables for job_simp column
job_simp_dummies = pd.get_dummies(df['job_simp'], prefix='job_title')

# Get dummy variables for Sector column
sector_dummies = pd.get_dummies(df['Sector'], prefix='Sector')

# Get dummy variables for Type of ownership column
ownership_dummies = pd.get_dummies(df['Type of ownership'], prefix='Ownership')

# Concatenate the dummy variables with the original dataframe
df = pd.concat([df, job_simp_dummies, sector_dummies, ownership_dummies], axis=1)

# Drop the original categorical columns if needed
df.drop(['job_simp', 'Sector', 'Type of ownership'], axis=1, inplace=True)

# Display the updated dataframe with dummy variables
print(df)

     Rating      Size  hourly  employer_provided  avg_salary  same_state  \
0       3.8  6.907755     0.0                0.0    0.243243         0.0
1       3.4  9.210340     0.0                0.0    0.307692         0.0
2       4.8  6.907755     0.0                0.0    0.297297         1.0
3       3.8  8.517193     0.0                0.0    0.261954         1.0
4       2.9  5.298317     0.0                0.0    0.419958         1.0
..      ...       ...     ...                ...         ...         ...
737     3.9  9.210340     0.0                0.0    0.295218         0.0
738     4.4  8.517193     0.0                0.0    0.370062         0.0
739     2.6  6.907755     0.0                0.0    0.249480         1.0
740     3.2  3.912023     0.0                0.0    0.474012         0.0
741     3.6  6.907755     0.0                0.0    0.332640         0.0

          age  python_yn  R_yn  spark  ...  Ownership_College / University  \
0    0.173285        1.0   0.0    0.0  ...                           False
1    0.133574        1.0   0.0    0.0  ...                           False
2    0.039711        1.0   0.0    1.0  ...                           False
3    0.202166        1.0   0.0    0.0  ...                           False
4    0.083032        1.0   0.0    0.0  ...                           False
..        ...        ...   ...    ...  ...                             ...
737  0.689531        0.0   0.0    0.0  ...                           False
738  0.054152        1.0   0.0    1.0  ...                           False
739  0.133574        0.0   0.0    0.0  ...                            True
740  0.000000        0.0   0.0    0.0  ...                           False
741  0.194946        1.0   0.0    0.0  ...                           False

     Ownership_Company - Private  Ownership_Company - Public  \
0                           True                       False
1                          False                       False
2                           True                       False
3                          False                       False
4                           True                       False
..                           ...                         ...
737                        False                        True
738                        False                        True
739                        False                       False
740                         True                       False
741                        False                       False

     Ownership_Government  Ownership_Hospital  \
0                   False               False
1                   False               False
2                   False               False
3                    True               False
4                   False               False
..                    ...                 ...
737                 False               False
738                 False               False
739                 False               False
740                 False               False
741                 False               False

     Ownership_Nonprofit Organization  Ownership_Other Organization  \
0                               False                         False
1                               False                          True
2                               False                         False
3                               False                         False
4                               False                         False
..                                ...                           ...
737                             False                         False
738                             False                         False
739                             False                         False
740                             False                         False
741                              True                         False

     Ownership_School / School District  \
0                                 False
1                                 False
2                                 False
3                                 False
4                                 False
..                                  ...
737                               False
738                               False
739                               False
740                               False
741                               False

     Ownership_Subsidiary or Business Segment  Ownership_Unknown
0                                       False              False
1                                       False              False
2                                       False              False
3                                       False              False
4                                       False              False
..                                        ...                ...
737                                     False              False
738                                     False              False
739                                     False              False
740                                     False              False
741                                     False              False

[742 rows x 64 columns]

In [106]:
# Replace True/False values in dummy variable columns with 1/0
dummy_columns = ['job_title', 'Sector', 'Ownership']  # Replace with your actual column names
for col in df.columns:
    if any(col.startswith(dc) for dc in dummy_columns):
        df[col] = df[col].astype(int)

# Display the updated dataframe with dummy variables
print(df)

     Rating      Size  hourly  employer_provided  avg_salary  same_state  \
0       3.8  6.907755     0.0                0.0    0.243243         0.0
1       3.4  9.210340     0.0                0.0    0.307692         0.0
2       4.8  6.907755     0.0                0.0    0.297297         1.0
3       3.8  8.517193     0.0                0.0    0.261954         1.0
4       2.9  5.298317     0.0                0.0    0.419958         1.0
..      ...       ...     ...                ...         ...         ...
737     3.9  9.210340     0.0                0.0    0.295218         0.0
738     4.4  8.517193     0.0                0.0    0.370062         0.0
739     2.6  6.907755     0.0                0.0    0.249480         1.0
740     3.2  3.912023     0.0                0.0    0.474012         0.0
741     3.6  6.907755     0.0                0.0    0.332640         0.0

          age  python_yn  R_yn  spark  ...  Ownership_College / University  \
0    0.173285        1.0   0.0    0.0  ...                               0
1    0.133574        1.0   0.0    0.0  ...                               0
2    0.039711        1.0   0.0    1.0  ...                               0
3    0.202166        1.0   0.0    0.0  ...                               0
4    0.083032        1.0   0.0    0.0  ...                               0
..        ...        ...   ...    ...  ...                             ...
737  0.689531        0.0   0.0    0.0  ...                               0
738  0.054152        1.0   0.0    1.0  ...                               0
739  0.133574        0.0   0.0    0.0  ...                               1
740  0.000000        0.0   0.0    0.0  ...                               0
741  0.194946        1.0   0.0    0.0  ...                               0

     Ownership_Company - Private  Ownership_Company - Public  \
0                              1                           0
1                              0                           0
2                              1                           0
3                              0                           0
4                              1                           0
..                           ...                         ...
737                            0                           1
738                            0                           1
739                            0                           0
740                            1                           0
741                            0                           0

     Ownership_Government  Ownership_Hospital  \
0                       0                   0
1                       0                   0
2                       0                   0
3                       1                   0
4                       0                   0
..                    ...                 ...
737                     0                   0
738                     0                   0
739                     0                   0
740                     0                   0
741                     0                   0

     Ownership_Nonprofit Organization  Ownership_Other Organization  \
0                                   0                             0
1                                   0                             1
2                                   0                             0
3                                   0                             0
4                                   0                             0
..                                ...                           ...
737                                 0                             0
738                                 0                             0
739                                 0                             0
740                                 0                             0
741                                 1                             0

     Ownership_School / School District  \
0                                     0
1                                     0
2                                     0
3                                     0
4                                     0
..                                  ...
737                                   0
738                                   0
739                                   0
740                                   0
741                                   0

     Ownership_Subsidiary or Business Segment  Ownership_Unknown
0                                           0                  0
1                                           0                  0
2                                           0                  0
3                                           0                  0
4                                           0                  0
..                                        ...                ...
737                                         0                  0
738                                         0                  0
739                                         0                  0
740                                         0                  0
741                                         0                  0

[742 rows x 64 columns]

In [107]:
from sklearn.preprocessing import MinMaxScaler

# List of numerical columns to be scaled
numerical_columns = ['Rating', 'Size', 'hourly', 'employer_provided', 'avg_salary',
                     'same_state', 'age', 'python_yn', 'R_yn', 'spark', 'aws',
                     'excel', 'desc_len', 'num_comp', 'is_senior', 'Revenue_Category',
                     'Latitude', 'Longitude', 'HQ_Latitude', 'HQ_Longitude',
                     'Log_Population', 'Log_HQ_Population']

# Initialize MinMaxScaler
scaler = MinMaxScaler()

# Scale numerical columns
df[numerical_columns] = scaler.fit_transform(df[numerical_columns])

print(df)

       Rating      Size  hourly  employer_provided  avg_salary  same_state  \
0    0.800000  0.750000     0.0                0.0    0.243243         0.0
1    0.733333  1.000000     0.0                0.0    0.307692         0.0
2    0.966667  0.750000     0.0                0.0    0.297297         1.0
3    0.800000  0.924743     0.0                0.0    0.261954         1.0
4    0.650000  0.575257     0.0                0.0    0.419958         1.0
..        ...       ...     ...                ...         ...         ...
737  0.816667  1.000000     0.0                0.0    0.295218         0.0
738  0.900000  0.924743     0.0                0.0    0.370062         0.0
739  0.600000  0.750000     0.0                0.0    0.249480         1.0
740  0.700000  0.424743     0.0                0.0    0.474012         0.0
741  0.766667  0.750000     0.0                0.0    0.332640         0.0

          age  python_yn  R_yn  spark  ...  Ownership_College / University  \
0    0.173285        1.0   0.0    0.0  ...                               0
1    0.133574        1.0   0.0    0.0  ...                               0
2    0.039711        1.0   0.0    1.0  ...                               0
3    0.202166        1.0   0.0    0.0  ...                               0
4    0.083032        1.0   0.0    0.0  ...                               0
..        ...        ...   ...    ...  ...                             ...
737  0.689531        0.0   0.0    0.0  ...                               0
738  0.054152        1.0   0.0    1.0  ...                               0
739  0.133574        0.0   0.0    0.0  ...                               1
740  0.000000        0.0   0.0    0.0  ...                               0
741  0.194946        1.0   0.0    0.0  ...                               0

     Ownership_Company - Private  Ownership_Company - Public  \
0                              1                           0
1                              0                           0
2                              1                           0
3                              0                           0
4                              1                           0
..                           ...                         ...
737                            0                           1
738                            0                           1
739                            0                           0
740                            1                           0
741                            0                           0

     Ownership_Government  Ownership_Hospital  \
0                       0                   0
1                       0                   0
2                       0                   0
3                       1                   0
4                       0                   0
..                    ...                 ...
737                     0                   0
738                     0                   0
739                     0                   0
740                     0                   0
741                     0                   0

     Ownership_Nonprofit Organization  Ownership_Other Organization  \
0                                   0                             0
1                                   0                             1
2                                   0                             0
3                                   0                             0
4                                   0                             0
..                                ...                           ...
737                                 0                             0
738                                 0                             0
739                                 0                             0
740                                 0                             0
741                                 1                             0

     Ownership_School / School District  \
0                                     0
1                                     0
2                                     0
3                                     0
4                                     0
..                                  ...
737                                   0
738                                   0
739                                   0
740                                   0
741                                   0

     Ownership_Subsidiary or Business Segment  Ownership_Unknown
0                                           0                  0
1                                           0                  0
2                                           0                  0
3                                           0                  0
4                                           0                  0
..                                        ...                ...
737                                         0                  0
738                                         0                  0
739                                         0                  0
740                                         0                  0
741                                         0                  0

[742 rows x 64 columns]

In [108]:
df.drop('avg_salary', axis=1, inplace=True)

In [109]:
# Write the scaled DataFrame to a CSV file
df.to_csv('manual_features.csv', index=False)